body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: 150px;
    flex: 1;
    justify-content: center;
}

.case {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 2px solid salmon;
}

button {
    margin-bottom: 21.44px;
    font-size: large;
}